{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark nv">
 <img src={% static 'image/fd.png' %} alt="food">
    <a class="navbar-brand fw-bolder ms-1 fst-italic text-danger log" href={% url 'home' %}>FOOD RECIPES</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">

        <li class="nav-item active">
          <a class="nav-link text-primary  fst-italic h5 " href={% url 'home' %}><u>Home</u></a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-primary  fst-italic h5" href={% url 'addRecipe' %}><u>Add Recipe</u></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-primary fst-italic h5" href={% url 'about' %}><u>About</u></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-primary fst-italic h5" href={% url 'logout' %}><u>Logout</u></a>
      </li>

       {% else %} 
        <li class="nav-item">
            <a class="nav-link text-primary  fst-italic h5" href={% url 'signUp' %}><u>Sign Up</u></a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-primary  fst-italic h5" href={% url 'signIn' %}><u>Sign In</u></a>
        </li>
        {% endif %}

       

      </ul>
      
    </div>
  </nav>
  