{% extends 'web/base.html' %}
{% include 'web/base.html' %}
{% load static %}

{% block bd %}
<body class='alert-dark' id='bg1' style="background-image: url('{% static "image/own.jpg"%}')";>
{% endblock bd %}

{% block containt %}

    <div class="col-sm-4 offset-3  shadow  p-2 position-absolute mt-5 ">
        <h2 class='alert-info mt-2 text-center'>RECIPE ADDED BY</h2>

        <div class='mt-2 alert-success shadow  border border-dark border-3 p-1'>
          
            <ul>
                <li class='text-dark fw-bold  h4'><u>NAME:-{{name.username}}</u></li>
                <li class='text-dark fw-bold  h4'><u>CONTACT:-{{name.userphone}}</u></li>
            </ul>
            {% comment %} <u><h4 class='text-dark'>NAME:{{name.username}}</h4></u> <br>
            <u><h4 class='text-dark'></h4></u> <br> {% endcomment %}
        </div>
        <a href={% url 'showRecipe' %} class='btn btn-primary mt-2 ms-1'>Go to Recipes</a>
    </div>
{% endblock containt %}